<header class="nav-bar">
    <h1 class="nav-title">CarConcessionary</h1>
    <nav class="nav-links">
        <a class="nav-item" href="#">Nosotros</a>
        <a class="nav-item" href="#">Novedades</a>
        <a class="nav-item" href="/ver-citasC">Citas</a>
    </nav>
    <button (click)="sendLogin($event)" class="btn-login">Login</button>
</header>

<div class="banner">
    <img src="https://bmw.scene7.com/is/image/BMW/BMW-BANNER-MTRACK-3840x1680?wid=3840&hei=1680" 
         alt="banner" class="banner-img">
</div>
